  .content-image {
    position: relative;
  }
  
  .download_image {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: #0000005c;
    padding: 5px;
    cursor: pointer;
    display: none;
  }
  
  .content-image:hover .download_image {
    display: block;
  }

  .v-download {
    color: #595959;
    cursor: pointer;
    overflow: hidden;
  }
  
  #tabs {
    z-index: 9;
  }
  
  a {
    cursor: pointer;
  }
  
  #tabs li {
    float: left;
    list-style: none;
    outline: none;
    width: 33%;
  }
  
  #tabs li a {
    font-size: 16px;
    text-align: center;
    color: #000;
    font-weight: 100;
    padding: 10px;
    display: block;
    background: #FFF;
    text-decoration: none;
    outline: none;
    border-radius: 7px;
    margin-right: 5px;
  }
  
  #tabs li a.inactive {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background: none;
    color: #000;
    margin: 4px;
  }
  
  #tabs li a:hover,
  #tabs li a.inactive:hover {
    color: #5685bc;
    outline: none;
  }
  
  .tab-box {
    clear: both;
    width: 100%;
    text-align: left;
  }
  
  .tab-box h2 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #5685bc;
  }
  
  .tab-box p {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: small;
  }
  
  .tab-box ul {
    margin-left: 25px;
    font-size: small;
    line-height: 1.4;
    list-style-type: disc;
  }
  
  .tab-box li {
    padding-bottom: 5px;
    margin-left: 5px;
  }
  
  .tab-box .content .content-container div p {
    font-size: 16px;
    line-height: 1.5em;
  }
  
  .tab-box .content .content-container div ul {
    font-size: 16px;
    line-height: 1.5em;
  }

.pass-dropdown {
  position: relative;
  display: block;
  float: right;
  margin: 4px 12px 0 0;
}

.pass-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  --main-offset: 6px;
    --search-bottom-offset: 4px;
    --scrollbar-offset: 8px;
    --item-offset-left: 10px;
    --item-offset-right: 18px;
    --item-gap: 4px;
    --text-color: #000;
    font-size: 16px;
    line-height: 1.5em;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 25%);
    box-shadow: 0 4px 8px rgb(0 0 0 / 6%), 0 0 1px rgb(0 0 0 / 25%);
    border-radius: 8px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 400px;
    color: var(--text-color);
}

.pass-dropdown:hover .pass-dropdown-content {
  display: flex;
}

#tabs a {
  --color-background: transparent;
  --icon-size: 22px;
  --icon-offset: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: var(--item-offset-left);
  padding-right: var(--item-offset-right);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--color-background);
  cursor: pointer;
  border-radius: 6px;
  outline: 0;
}

#tabs a:hover {
  --color-background: rgba(0,0,0,0.05);
}

.bookmarks_return {
  color: #595959;
}